.app {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #f8f7fa;
  height: 100vh;
}

.app__body {
  display: flex;
}

.app__body > p {
  /* margin: 10px; */
}
